* {
    width: auto;
}

body {
    
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: auto;
}

html, body {
    height: 100%;
}
  
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
.App {
    /* flex: 1 0 auto; */
    background-image: linear-gradient(#360033, #0b8793);
    background-repeat: no-repeat;
}  

hr {
    border: 1px solid #360033;
}